#mapid {
    float: left;
    width: 800px;
    height: 600px;
}
#start {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: lightgreen;
}
#score {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
}
#lives {
    float: left;
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
}